POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=stocks
KAFKA_TOPIC=stock_prices
STOCKS=AAPL,GOOGL,MSFT,AMZN,TSLA
KESTRA_POSTGRES_SCHEMA=kestra
KESTRA_ADMIN_USERNAME=admin@kestra.io
KESTRA_ADMIN_PASSWORD=Admin1234
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
PGADMIN_DEFAULT_EMAIL=admin@stockpipeline.com
PGADMIN_DEFAULT_PASSWORD=admin
